<!-- Head partial -->
<%- include partials/head -%>

</head>

<body class="container">

  <!-- Header partial -->

  <%- include partials/header -%>

  <main class="ui grid" id="register-page">
    <div class="sixteen wide column">
      <h1>Zmena hesla</h1>
    </div>
    <div class="ui form" id="register-form">
      <form action="/new-password" method="POST">
        <div class="required field">
          <label for="newPassword">Nové heslo:</label>
          <input type="password" name="newPassword" placeholder="Nové heslo" required>
        </div>
        <input type="hidden" name="userId" value="<%= userId %>">
        <input type="hidden" name="passwordToken" value="<%= passwordToken %>">
        <button class="ui button" type="submit">Zmeniť heslo</button>
      </form>
    </div>
  </main>
  
  <!-- Footer partial -->

  <%- include partials/footer -%>